<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog Website</title>
  <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="navbar-container lexend">
    <a href="/">Home Page</a>
    <a href="/create-a-post">Create a Blog</a>
    <a href="/view-all-posts">View all Blogs</a>
    <a href="/update-a-post">Update a Blog</a>
    <a href="/delete-a-post">Delete a Blog</a>
  </div>