<%- include("partials/header.ejs") %>
  <div class="flexbox-container">
    <div class="generalPurposeContainer lexend">
      <form action="/create-a-post" method="post">
        <label for="title">title : </label>
        <input type="text" id="title" name="title"><br><br>
        <label for="blog">body : </label>
        <textarea name="blog" id="blog"></textarea><br><br>
        <button class="lexend">Save</button>
      </form>
    </div>
  </div>
<%- include("partials/footer.ejs") %>