<%- include("partials/header.ejs") %>
  <div class="flexbox-container">
    <div class="homePageContainer lexend">
      <h1>Hi guys! This is my Blogging website</h1>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>